
<form action="/movies/new" method="get" class="ui icon input ">
  <input type="text" name="movie-search" placeholder="Add a movie...">
  <i class="search icon"></i>
  <input type="submit" value="Search">
</form>


<% if movies_found %>

	<div id="searched-titles" class="ui grid">





		<% movies_found["results"].each do |movie|%>
		<div class="movie-found four wide column">

				<div class="ui special cards ">
				  <div class="card">
				    <div class="blurring dimmable image">
				      <div class="ui dimmer">
				        <div class="content">

				          <div data-id="<%= movie["id"] %>" data-url="/users/<%= current_user %>" class="center">
				            <div class="ui inverted button addlist">Add to list</div>
				          </div>
				        </div>
				      </div>
				      <img src="<%= movie["poster_400x570"] %>">
				    </div>
				    <div class="content">
				      <a class="header"><%= movie["title"] %></a>
				      <div class="meta">
				        <span class="date"><%= movie["release_year"].to_s %></span>
				      </div>
				    </div>
				  </div>
				</div>
		</div>

		
	<% end %>




	</div>	


<% end %>
