
<div id="list-<%= list.id %>" class="list list-view">	

	<div class="list-header">
		<h4 class="list-name"><a href="/lists/<%= list.id %>"><%= list.name %></a></h4>
		<% if list.user != current_user %>
			<p class="list-author">by <a href="/users/<%= list.user.id %>"><%= list.user.username %></a></p>
		<% end %>
		
		<div class="list-buttons">
			<% if list.user == current_user %>
				<a id="new-movie" href="/lists/<%= list.id %>/movies/search"><i class="green plus icon" ></i></a>
				<% if list.movies.count < 1 %>
					<div class="ui green left pointing label">
			      Add a Movie
			    </div>
				<% end %>
				<a href="/lists/<%= list.id %>/edit"><i class="edit icon"></i></a>
				<form class="delete-list" action="/lists/<%= list.id %>" method="post">
					<input type="hidden" name="_method" value="DELETE">
					<button type="submit">
						<i class="remove icon"></i>
					</button>
				</form>	
				<%= erb :'/lists/_confirm_delete', locals: {list: list} %>


				<div class="compact medium ui labeled button" tabindex="0" >
				  <div class="compact ui blue button follow-list" >
				    <div class="visible content">Followers</div>
				  </div>
				  <a class="compact ui basic left pointing blue label">
				    <%= list.followers.count %>
				  </a>
				</div>
			<% else %>
				<% if current_user.followed_lists.include?(list) %>
					<%= erb :'/lists/_unfollow', locals: {list: list} %>
				<% else %>
					<%= erb :'/lists/_follow', locals: {list: list} %>	
				<% end %>
			<% end %>

		</div>
		<p><%= list.description %></p>
	</div>

	<% if list.movies.length > 0 %>
		<div class="list-jumbotron">
			<% latest = list.list_movies.last.movie %>
			<img class="ui centered fluid image backdrop" src="<%= latest.wide_2 %>">
		</div>
	<% end %>

	<div class="owl-container list">
		<% count = list.movies.length %>
		<% if count < 8 %>
			<div class="owl-carousel owl-theme small">
		<% else %>
			<div class="owl-carousel owl-theme standard">
		<% end %>
		
		<% list.list_movies.reverse.each do |lm| %>

			<div class="ui link card" data-backdrop="<%= lm.movie.wide_2 %>">
			  <a class="image movie-img" href="/movies/<%= lm.movie.id %>">
			    <img class="owl-lazy" data-src="<%= lm.movie.wide_1 %>">
			  </a>
			  <% if list.user == current_user %>
			  	<i class="remove icon remove-movie" data-url="/list_movies/<%= lm.id %>" data-list-movie="<%= lm.id %>" ></i>	
			  <% end %>
			  <div class="title-info list">
			  	<% if lm.movie.title.length > 22 %>
			  		<p class="movie-title"><%= lm.movie.title[0..21] %>...</p>
			  	<% else %>
			  		<p class="movie-title"><%= lm.movie.title %></p>
			  	<% end %>
					<div class="providers-info list">
						<% if lm.movie.providers.length > 0 %>
							<% lm.movie.providers.each do |provider| %>
								<% if ["hulu_plus", "amazon_prime", "netflix"].include? provider.name %>
									<a href="<%= provider.url %>"><img class="provider list" src="/images/<%= provider.name.split("_")[0] %>.png"></a>
								<% end %>
							<% end %>
				  	<% end %>
					</div>	
			  </div>
			</div>
		<% end %>
		</div>
	</div>
</div>