<div class="ui basic modal follow-stats-view followers-view">
	<i class="close icon"></i>
	<div class="header">
		<h1>Followers</h1>
	</div>

	<div class="content">
		<div class="ui middle aligned divided list">
			<% user.followers.each do |follower| %>
			  <div class="item">
			    <div class="right floated content">
			    	<% if current_user.is_following?(follower) %>
			    		<div class="ui inverted button user-following" data-url="/users/<%= follower.id %>/unfollow" data-user="<%= follower.id %>" ><span>Following</span></div>
			    	<% else %>
			      	<div class="ui button user-follow" data-url='/users/<%= follower.id %>/follow' data-user="<%= follower.id %>"><span>Follow</span></div>
			      <% end %>
			    </div>
			    <img class="ui tiny image" src="<%= follower.img %>">
			    <div class="content">
			      <h4><a href="/users/<%= follower.id %>"><%= follower.username %></a></h4>
			    </div>
			  </div>
			<% end %>
		</div>
	</div>

</div>






