<div class="ui grid profile-header">
	<div class="six wide column user-info">
		<div>
			<img class="ui top aligned small image" src="<%= user.img %>">	
		</div>
		<div>
			<h2 class="username"><%= user.username %></h2>	
		</div>
		<% if current_user.id != user.id %>
			<% if !current_user.is_following?(user) %>	
				<button id="follow-user" class="ui blue button" data-user-id="<%= user.id %>">Follow</button>
			<% else %>
				<button id="unfollow-user" class="ui basic button" data-user-id="<%= user.id %>">Following</button>
			<% end %>
		<% end %>
	</div>

	<div class="ten wide column ui grid middle aligned user-stats">
		<div class="three wide column list-stats">
			<h4 class='list-count'><%= user.lists.count %> <span>Lists</span></h4>
		</div>
		<div class="three wide column follow-stats follower-stats" data-url="/users/<%= user.id %>/followers">
			<h4 class='follower-count'><%= user.followers.count %> <span>Followers</span></h4>
		</div>
		<div class="three wide column follow-stats following-stats" data-url="/users/<%= user.id %>/following">
			<h4 class='following-count'><%= user.following.count %> <span> Following</span></h4>
		</div>
	</div>
</div>

<div class="follow-stats-view"></div>

<% if current_user.id != user.id %>
	<div class="ui divider"></div>
<% end %>
