<div id="" class="updates">	
	<div class="owl-container">
		<div class="owl-carousel owl-theme update-list">

	<% if updates.count < 1 %>
		<h3 class="no-updates">You must be follow other users to build your newsfeed.</h3>
	<% else %>

		<% updates.each do |update| %>
			<% if update.class == List %>

				<div class="ui link card update">
				  <a class="image update-list-img" href="/lists/<%= update.id %>">
				  	<div class="ui black left corner label">
							<i class="large list icon"></i>
				  	</div>
				    <img class="owl-lazy update-img" data-src="<%= update.movies.first.img_url %>">
				  </a>

				  <div class="update-info">
						<div class="list-info">
							<h4><i class="unordered list icon"></i><a href="users/<%= update.user.id %>"><%= update.user.username %></a> created <a href="/lists/<%= update.id %>"><%= update.name %></a></h4>
							<p>
								<time class="timeago" datetime="<%= DateTime.parse(update.created_at.to_s).iso8601 %>"></time>
							</p>
						</div>	
				  </div>
				</div>


			<% elsif update.class == ListMovie %>
	

				<div class="ui link card">
				  <a class="image movie-img" href="/movies/<%= update.movie.id %>">
				  	<div class="ui black left corner label">
							<i class="film icon"></i>
				  	</div>
				    <img class="owl-lazy" data-src="<%= update.movie.img_url %>">
				  </a>

				  <div class="title-info">
						<div class="providers-info update">
							<% if update.movie.providers.length > 0 %>
								<% update.movie.providers.each do |provider| %>
									<% if ["hulu_plus", "amazon_prime", "netflix"].include? provider.name %>
										<a href="<%= provider.url %>"><img class="provider" src="/images/<%= provider.name.split("_")[0] %>.png"></a>
									<% end %>
								<% end %>
					  	<% end %>
						</div>	
				  </div>

				  <div class="update-info">
				  	<div class="movie-info">
			  			<h4><i class="film icon"></i><a href="/users/<%= update.list.user.id %>"><%= update.list.user.username %></a> added <%= update.movie.title %> </h4>
			  			<h4>to <a href="lists/<%= update.list.id %>"><%= update.list.name %> </a></h4>
							<p>
								<time class="timeago" datetime="<%= DateTime.parse(update.created_at.to_s).iso8601 %>"></time>
							</p>
				  	</div>
				  </div>
				</div>

			<% elsif update.class == UserFollower %>
				<div class="ui link card">
				  <a class="image update-user-follower-img">
				  	<div class="ui black left corner label">
							<i class="user icon"></i>
				  	</div>
				  	<% if update.followed == current_user %>
				  		<img class="owl-lazy update-img" data-src="<%= update.follower.img %>">
				  	<% else %>
				    	<img class="owl-lazy update-img" data-src="<%= update.followed.img %>">
				    <% end %>
				  </a>

				  <div class="update-info">
						<div class="list-info">
							<% update.followed == current_user ? followed = "You" : followed = update.followed.username %>
							<h4><i class="user icon"></i><a href="/users/<%= update.follower.id %>"><%= update.follower.username %></a> followed <a href="/users/<%= update.followed.id %>"><%= followed %></a></h4>
							<p>
								<time class="timeago" datetime="<%= DateTime.parse(update.created_at.to_s).iso8601 %>"></time>
							</p>
						</div>	
				  </div>
				</div>

			<% elsif update.class == ListFollower %>
		
				<div class="ui link card update">
				  <a class="image update-list-img" href="/lists/<%= update.list.id %>">
				  	<div class="ui black left corner label">
							<i class="star icon"></i>
				  	</div>
				    <img class="owl-lazy update-img" data-src="<%= update.list.movies.first.img_url %>">
				  </a>

				  <div class="update-info">
						<div class="list-info">
							<h4><i class="unordered list icon"></i><a href="users/<%= update.user.id %>"><%= update.user.username %></a> followed <a href="/lists/<%= update.list.id %>"><%= update.list.name %></a></h4>
							<p>
								<time class="timeago" datetime="<%= DateTime.parse(update.created_at.to_s).iso8601 %>"></time>
							</p>
						</div>	
				  </div>
				</div>
			<% end %>
		<% end %>
		</div>
	<% end %>
	</div>
</div>
